*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-width: 20%;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--nav-width);
    background-color: #a11919;
    width: 20%;
    padding: 1em;
}

nav > a {
    display: block;
    margin-bottom: 1rem;
}

nav ul {
    list-style: none;
}

nav ul li {
    margin-left: 0.75rem;
    margin-top: 0.4rem;
}

body {
    margin-left: var(--nav-width);
    padding: 1rem;
}